html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.text-center{
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width:700px;
    margin: 0 auto;
}

.hide{
    display: none;
}

/*
 * Styles for the you won container
 */

.youwon{
    height: 100%;
    padding:20px;
}
.youwon p{
    font-size: 2em;
    font-weight: bold;
}

.youwon .fa.fa-check-circle-o{
    font-size: 80px;
    color: #02ccba;
}

.youwon .btn{
    color: #fff;
    font-size: 30px;
    background: #02ccba;
    border: 0;
    border-radius: 5px;
    height: 60px;
    padding: 10px 20px;
    cursor: pointer;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #02ccba;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 90%;
    min-height: 500px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1em;
}

.deck .card , .deck .opencard {
    height: 100px;
    width: 20%;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    margin:2.5%;
}

.deck .opencard.open {
    transform: rotateY(180deg);
    background: #02b3e4;
    cursor: default;
}

.deck .opencard.show {
    font-size: 33px;
}

.deck .opencard.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: match 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: 1;
}

.deck .opencard.open.no-match {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: nomatch 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: 1;
    background: brown;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 90%;
    margin-bottom: 10px;
    position: relative;
    display: flex;
}
.score-panel .stars-timer-cont ,.score-panel  .moves-restart-cont{
    width:50%;
}

.score-panel .moves-div{
    line-height: 50px;
    font-size: 1em;
    color:#02ccba;
    text-align: right;
}

.score-panel .stars {
    margin: 0 auto;
    width: 146px;
    padding: 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .stars li .fa{
    font-size: 3em;
    color:#02ccba;
}

.score-panel .restart {
    text-align: right;
    cursor: pointer;
    font-size: 1em;
    color:#02ccba;
    line-height: 50px;
}

.score-panel .timer{
    color:#02ccba;
    font-size: 1em;
    line-height: 30px;
    font-weight: 700;
    padding: 10px;
    border:1px #02ccba solid;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}

.score-panel .timer #time{
    float:right;
}
/*
 * Styles for the match and no match keyframes
 */

@keyframes match {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-5deg); }
    20% { transform: translate(-3px, 0px) rotate(5deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(5deg); }
    50% { transform: translate(-1px, 2px) rotate(-5deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-5deg); }
    80% { transform: translate(-1px, -1px) rotate(5deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-5deg); }
}

@keyframes nomatch {
    0% {  transform: rotate(0deg); }
    25% { transform:  rotate(-25deg); }
    50% { transform:  rotate(25deg); }
    75% { transform:  rotate(-25deg); }
    100% { transform:  rotate(0deg); }
}


/*Congratulations styles */

.balloon { 
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
}
.balloon > div {
    width:104px;
    height:140px; 
    background:#02ccba;
    border-radius:0;
    border-radius:80% 80% 80% 80%;
    margin: 0 auto;
    position: absolute;
    padding:10px;
    box-shadow:inset 17px 7px 10px #02ccba; 
    -webkit-transform-origin: bottom center; 
}
.balloon > div:before {
    color:#02ccba;
    position:absolute;
    bottom:-11px;
    left: 52px;  
    content:"▲";
    font-size:1em;
}

.balloon > div:nth-child(1){
    left: 20px;
    top:0;
    box-shadow:inset 10px 10px 10px darken(#02ccba, 10%);
    -webkit-animation:balloon1 6s ease-in-out infinite;
    -moz-animation:balloon1 6s ease-in-out infinite;
    -o-animation:balloon1 6s ease-in-out infinite;
    animation:balloon1 6s ease-in-out infinite;
}

.balloon > div:nth-child(2){    
    right: 20px;
    top:0;
    box-shadow:inset 10px 10px 10px darken(#02ccba, 10%);
    -webkit-animation:balloon2 6s ease-in-out infinite;
    -moz-animation:balloon2 6s ease-in-out infinite;
    -o-animation:balloon2 6s ease-in-out infinite;
    animation:balloon2 6s ease-in-out infinite;
}

.balloon span {
    font-size: 6.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
    top: -10px;
    left: 50%;
    margin-left: -56px;
} 

/*BALLOON 1 */
@-webkit-keyframes balloon1 {
    0%,100%{ -webkit-transform:translateY(0) rotate(-6deg);}
    50%{ -webkit-transform:translateY(-20px) rotate(8deg); }
}
@-moz-keyframes balloon1 {
    0%,100%{ -moz-transform:translateY(0) rotate(-6deg);}
    50%{ -moz-transform:translateY(-20px) rotate(8deg); }
}
@-o-keyframes balloon1 {
    0%,100%{ -o-transform:translateY(0) rotate(-6deg);}
    50%{ -o-transform:translateY(-20px) rotate(8deg); }
}
@keyframes balloon1 {
    0%,100%{ transform:translateY(0) rotate(-6deg);}
    50%{ transform:translateY(-20px) rotate(8deg); }
}

/* BAllOON 2 */
@-webkit-keyframes balloon2 {
    0%,100%{ -webkit-transform:translateY(0) rotate(6eg);}
    50%{ -webkit-transform:translateY(-30px) rotate(-8deg); }
}
@-moz-keyframes balloon2 {
    0%,100%{ -moz-transform:translateY(0) rotate(6deg);}
    50%{ -moz-transform:translateY(-30px) rotate(-8deg); }
}
@-o-keyframes balloon2 {
    0%,100%{ -o-transform:translateY(0) rotate(6deg);}
    50%{ -o-transform:translateY(-30px) rotate(-8deg); }
}
@keyframes balloon2 {
    0%,100%{ transform:translateY(0) rotate(6deg);}
    50%{ transform:translateY(-30px) rotate(-8deg); }
}
  
  
  
  
  
